@model _03075.Proyecto_1.SusanMurillo.Models.RegistroVehiculos

@{
    ViewData["Title"] = "BuscarVehiculo";
}

<h1>BuscarVehiculo</h1>

<div>
    <h4>RegistroVehiculos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaFechaDeAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaFechaDeAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TratamientoEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TratamientoEspecial)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
