@model _03075.Proyecto_1.SusanMurillo.Models.Lavado

@{
    ViewData["Title"] = "BuscarLavado";
}

<h1>BuscarLavado</h1>

<div>
    <h4>Lavado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLavado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLavado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLavado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiposDeLavado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiposDeLavado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
