@model IEnumerable<_03075.Proyecto_1.SusanMurillo.Models.Lavado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create" class="btn btn-primary">
    Crear lavado
</a>

<a asp-action="Buscar" class="btn btn-primary">
    Buscar lavado
</a>
<a asp-action="ClientesPorContactar" class="btn btn-primary">
    REPORTE
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLavado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiposDeLavado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLavado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiposDeLavado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdLavado">Edit</a> |



                    <a asp-action="Delete" asp-route-id="@item.IdLavado">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
